<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Katsis Gallery</title>
        <meta property="og:title" content="Katsis Gallery"/>
        <meta property="og:image" content="https://katsis.net/img/logo.png">
        <meta property="og:description" content="Gallery"/>
        <meta name="description" content="Gallery">
        <meta name="theme-color" content="#ff7f7f">

        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <link rel="stylesheet" type="text/css" href="/css/{{ css }}.css"/>
        <script src="https://analytics.katsis.net/shika.js" data-url="https://analytics.katsis.net/analytics/send" data-site-key="bd5bdd6482cb18b10cbf31f3"></script>
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>