{% extends 'base.html.twig' %}

{% block content %}
    <div id="images-container">
    {% for img in images %}
        <a href="/i/{{ img.id }}" class="iimage">
            <img src="/data/thumbnails/{{ img.id }}.{{ img.format }}"/>
        </a>
    {% endfor %}
    </div>
{% endblock %}